<div class="center" ng-if="homeCtrl.status.loading">
    <i class="fa fa-lg fa-spin fa-circle-o-notch"></i>
</div>
<div class="center" ng-if="homeCtrl.status.error">
    <i class="fa fa-lg fa-exclamation-circle"></i>
    <p>Uh Oh, something went wrong</p>
</div>
<div ng-if="homeCtrl.status.success">
    <h2 class="center">{{homeCtrl.organizationName}} : {{homeCtrl.programName}}</h2>
    <h3 class="center">{{homeCtrl.timesheetName}}</h3>
    <br>
    <div class="center" ng-show="!homeCtrl.isVisible">
    	<label class="control-label"> Email: </label>
    	<label>
			<input class="form-control" name="useremail" type="email" ng-model="homeCtrl.userEmail" required></input>                  
    	</label>
    	<label>
            <i class="fa fa-lg fa-spin fa-circle-o-notch" ng-if="homeCtrl.signinstatus.loading"></i>
			<input class="btn btn-danger" ng-if="!homeCtrl.signinstatus.loading" style="margin-bottom: 2px;" type="submit" value="Sign In / Sign Out" ng-click="homeCtrl.ok()"></input>
		</label>
    </div>

    <div ng-show="homeCtrl.isVisible">
        <label for="comment">What did you do today?</label>
        <textarea class="form-control" rows="5" ng-model="homeCtrl.comments"></textarea>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="homeCtrl.ok()">Sign Out</button>
            <button class="btn btn-warning" type="button" ng-click="homeCtrl.cancel()">Cancel</button>
        </div>
    </div>
</div>


