.center {
	text-align: center;
}

a:hover{
	color: #c0392b;
    text-decoration: none;
}

a{
	color: #e74c3c
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}